html {
    --in-place: linear-gradient(to right, #00b09b, #96c93d);
    --not-in-place: linear-gradient(to right, #f7971e, #ffd200);
    --not-in-the-word: linear-gradient(to right, #bdc3c7, #2c3e50);
    --border-ra: 4px;
    --btn-cl: linear-gradient(to right, #6a11cb, #2575fc);
    --back-cl: linear-gradient(to right, #e0eafc, #cfdef3);
    ;
}

* {
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0;
    background: #eee;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background: white;
}

.guess-game {
    text-align: center;
    width: 90%;
    margin: 20px auto 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .game-area {
        text-align: center;
        width: 60%;

        .start-message {
            background: var(--back-cl);
            padding: 50px;
            margin: 20px auto;
            border-radius: var(--border-ra);
            -webkit-border-radius: var(--border-ra);
            -moz-border-radius: var(--border-ra);
            -ms-border-radius: var(--border-ra);
            -o-border-radius: var(--border-ra);

            h2 {
                margin-bottom: 100px;
            }

            p {
                line-height: 1.6;
                font-size: 20px;
            }

            & button {
                margin-top: 100px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
                font-weight: bold;
                padding: 15px 20px;
                border: none;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                color: white;
                background: var(--btn-cl);
                cursor: pointer;
            }
        }

        form {
            width: 100%;
            height: 100%;
            padding: 20px;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

            label {
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
                margin: 1px auto;
            }

            div.numOfTries {
                padding: 30px;
                margin: 20px auto;
                background: var(--back-cl);
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;

                input {
                    display: block;
                    width: 80px;
                    font-size: 25px;
                    padding: 15px;
                    margin: 20px auto 0;
                    outline: none;
                    border: none;
                    caret-color: var(--btn-cl);
                    background: #eee;
                    text-align: center;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                }
            }

            div.numOfChars {
                padding: 30px;
                margin: 20px auto;
                background: var(--back-cl);
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;

                select {
                    display: block;
                    margin: 20px auto 0;
                    padding: 7px 14px;
                    border: none;
                    outline: none;
                    background: #eee;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                }
            }

            &>input {
                font-size: 23px;
                font-weight: bold;
                color: white;
                background: var(--btn-cl);
                border: none;
                border-radius: 4px;
                padding: 15px 30px;
            }

            .check-before-play {
                background: var(--back-cl);
                padding: 30px;
                margin: 20px auto;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
            }
        }

        .inputs {
            div {
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;

                span {
                    margin-right: 10px;
                    font-size: 20px;
                    font-weight: bold;
                }

                input {
                    width: 60px;
                    height: 60px;
                    padding: 15px;
                    font-size: 30px;
                    border: none;
                    border-bottom: 5px solid #333;
                    margin-block: 5px;
                    caret-color: var(--btn-cl);
                    text-align: center;
                    text-transform: none;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;

                    &:focus {
                        outline: #ccc solid 2px;
                    }

                    &.in-place {
                        background: var(--in-place);
                        border: var(--in-place);
                        color: white;
                    }

                    &.not-in-place {
                        background: var(--not-in-place);
                        border: var(--not-in-place);
                        color: white;
                    }

                    &.not-in-the-word {
                        background: var(--not-in-the-word);
                        border: var(--not-in-the-word);
                        color: white;
                    }

                }
            }

            .disabled {
                color: #8e8e8e;
                opacity: 0.5;
            }
        }

        .control {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 500px;
            margin: 30px auto;

            button {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
                font-weight: bold;
                padding: 15px 20px;
                border: none;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                color: white;
                cursor: pointer;
            }

            button:disabled {
                background: black;
                opacity: 0.4;
                cursor: no-drop;
            }

            .check {
                background: var(--btn-cl);
                flex: 1;
            }

            .hint {
                background: #009688;
                width: fit-content;
            }
        }
    }

    .user-help {
        width: 30%;

        .key-colors {
            margin-bottom: 100px;

            h2 {
                padding: 5px;
            }

            .key-color {
                background: var(--back-cl);
                padding: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;

                .key {
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    &.in-place {
                        background: var(--in-place);
                    }

                    &.not-in-place {
                        background: var(--not-in-place);
                    }

                    &.not-in-the-word {
                        background: var(--not-in-the-word);
                    }
                }

                .key-text {
                    font-size: 20px;
                    font-weight: bold;
                    padding-left: 5px;
                }
            }

        }

        .message {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            background: var(--back-cl);
            padding: 20px;
            border-radius: var(--border-ra);
            -webkit-border-radius: var(--border-ra);
            -moz-border-radius: var(--border-ra);
            -ms-border-radius: var(--border-ra);
            -o-border-radius: var(--border-ra);


            span {
                display: block;
                font-size: 50px;
                font-weight: bold;
                text-transform: capitalize;
                margin-top: 10px;
            }

            span.win {
                background: var(--btn-cl);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }

            span.lose {
                color: #ea0201;
            }

            p {
                margin-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: #333;
    color: white;
    padding: 20px;

    span {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px;
        font-size: 15px;
    }
}